<h2 class="mb-2vh">Write a new comment:</h2>
<div class="mb-3">
  <%= form_with(model: @comment, url: user_post_comments_path, method: :post, local: true, class:"row g-3") do |form| %>
    <%= form.label(:text, "Comment", class:"form-label") %>
    <%= form.text_area(:text, class:"form-control") %>
    <div class="col-auto">
    <%= form.submit "Submit Comment"%>
    </div>
  <% end %>
</div>