<div class="comments border">
  <ul>                    
    <% post.comments.each do |comment| %>
      <li class="item-comments">
        <%= comment.author.name %>: <%= comment.text %>
      </li>
    <% end %>              
  </ul>
</div>