<li class="align-right font-sm">
  <%= comment.author.name %>: <%= comment.text %>
  <% if can? :destroy, comment %>
        <%= button_to "Delete Comment", user_post_comment_path(current_user.id, comment.post_id, comment.id), method: :delete %>
  <% end %>  
</li>
